{% extends 'default.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Личный кабинет" %}
{% endblock title %}

{% block content %}

<!-- flex-shrink can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-shrink-{0|1} class -->
<div class="d-flex bd-highlight">
    <div class="w-50 p-2 bd-highlight">
        {% block lk_title %}
        {% endblock lk_title %}
    </div>
    <div class="d-flex flex-row flex-shrink-1 p-2 bd-highlight">
        <div class="d-flex flex-column align-items-center">
            <img height="50px" src="{% static 'avatar/'|add:user.avatar %}" alt="avatar" style="border: 1px solid white; border-radius: 25px; padding: 3px">
        </div>
        <div class="p-2 bd-highlight">
            <h3>{% if not user.first_name and not user.last_name %}{{ user.username }}{% endif %}{{ user.first_name }} {{ user.last_name }}</h3>
            {% trans "Дата регистрации" %} {{ user.date_joined|date:"d-m-Y" }}
        </div>
        <div class="p-2 bd-highlight">
            <a href="{% url 'lk_settings' pk=user.id %}">
                <img width="25px" src="{% static 'bootstrap/img/settings.svg' %}" alt="">
                {% trans "Настройки" %}
            </a>
            <p>
                {% trans "Последний визит" %} {{ user.last_activity|date:"d-m-Y / h:j:s" }}
            </p>
        </div>
    </div>
</div>
<hr>

{% block lk_content %}
{% endblock lk_content %}

{% endblock content %}