{% extends 'default.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {{ advertisement.title }}
{% endblock title %}

{% block content %}
    <h4>{% trans "Автор" %} - <span>{{ adv.user }}</span></h4>
    <h1>{{ adv.title }}</h1>
    <p>{{ adv.text }}</p>
    {{ adv.content|safe }}
    {% if adv.user != request.user %}
        <div style="display: flex; justify-content: right;">
            <a href="{% if have_reaction %}
                        {% url 'reaction_edit' pk=adv.id %}
                     {% else %}
                        {% url 'reaction_create' advertisement_id=adv.id %}
                     {% endif %}">
                <button type="button" class="btn btn-outline-primary">
                    {% trans "Откликнуться" %}
                </button>
            </a>
        </div>
    {% elif adv.user == request.user %}
        <div style="display: flex; justify-content: right;">
            <a href="{% url 'reaction_list' pk=adv.id %}">
                <button type="button" class="btn btn-outline-info">
                    {% trans "Откликнувшиеся" %}: {{ reactions }}
                </button>
            </a>
        </div>
    {% endif %}

{% endblock content %}