{% extends 'default.html' %}
{% load i18n %}
{% load static %}
{% load my_tags %}

{% block title %}
    {% trans "Главная" %}
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-between bd-highlight mb-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle bg-gradient" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Поиск" %}
        </button>
        <form method="get" class="dropdown-menu p-2 row" aria-labelledby="dropdownMenuButton">
            <div class="row mb-2">
                <label for="{{ filter.form.user.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Автор" %}</label>
                <div class="dropdown-item col-sm-10">
                    <input type="text" class="form-control" id="{{ filter.form.user.id_for_label }}">
                </div>
            </div>
            <div class="row mb-2">
                <label for="{{ filter.form.title.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Заголовок" %}</label>
                <div class="dropdown-item col-sm-10">
                    <input type="text" class="form-control" id="{{ filter.form.title.id_for_label }}">
                </div>
            </div>
            <div class="row mb-2">
                <label for="{{ filter.form.dateCreation.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Дата" %}</label>
                <div class="dropdown-item col-sm-10">
                    <input type="date" class="form-control" id="{{ filter.form.dateCreation.id_for_label }}">
                </div>
            </div>
            <input class="btn btn-warning" type="submit" value="{% trans 'Поиск' %}">
        </form>
    </div>
    <div class="btn-group dropstart">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Сортировать" %}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?sort=date_desk">{% trans "сначала новые" %}</a></li>
            <li><a class="dropdown-item" href="?sort=date_ask">{% trans "сначала старые" %}</a></li>
        </ul>
    </div>
</div>
{% if advertisements %}
    <div style="margin: 20px;">
    {% for adv in filter.qs %}
        <div class="card opacity-75" style="margin-bottom: 10px;">
            <div class="card-header bg-primary bg-gradient">
                <img height="50px" src="{% static 'avatar/'|add:adv.user.avatar %}" 
                     alt="avatar" style="border: 2px solid {% is_user_online adv.user %}; 
                                         border-radius: 25px; 
                                         padding: 3px; 
                                         box-shadow: 0px 0px 5px 1px {% is_user_online adv.user %};">
                {% if not adv.user.first_name and not adv.user.last_name %}
                    {{ adv.user.username }}
                {% endif %}
                {{ adv.user.first_name }}
                {{ adv.user.last_name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ adv.title }}</h5>
                <p class="card-text">{{ adv.text|truncatechars:20 }}</p>
                <a href="{% url 'adv_detail' pk=adv.id %}" class="btn btn-primary bg-gradient">{% trans "Подробнее" %}</a>
            </div>
            <div class="card-footer text-muted bg-secondary bg-gradient">
                {{ adv.dateCreation|date:"d-M-Y" }}
            </div>
        </div>
    {% endfor %}
    </div>

<div class="d-flex justify-content-center bd-highlight mb-2">
    {% include "bboard/paginator.html" %}
</div>

{% else %}

    <div class="alert alert-primary" role="alert">
        {% trans "Объявлений пока нет" %}
    </div>

{% endif %}

{% endblock content %}