{% extends 'default.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    MMORPG | lk
{% endblock title %}

{% block content %}

<!-- flex-shrink can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-shrink-{0|1} class -->
<div class="d-flex bd-highlight">
    <div class="w-100 p-2 bd-highlight">
        <h2>{% trans "Мои объявления" %}</h2>
    </div>
    <div class="flex-shrink-1 p-2 bd-highlight">
        <h3>{{ user.username }}</h3>
        {% trans "Дата регистрации" %}  {{ user.dateRegistration|date:"d-M-Y" }}
    </div>
</div>

<a href="{% url 'adv_create' %}">
    <button type="button" class="btn btn-outline-primary">
        {% trans "Создать объявление" %}
    </button>
</a>
{% if advertisements %}
    {% for adv in advertisements %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'adv_detail' pk=adv.id %}">{{ adv.title }}</a></h5>
                <p class="card-text">{{ adv.text }}</p>
                <a href="{% url 'adv_edit' pk=adv.id %}" class="card-link">{% trans "Редактировать" %}</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-primary" role="alert">
        {% trans "Вы не создали ни одного объявления" %}
    </div>
{% endif %}

{% endblock content %}