{% extends 'default.html' %}
{% load i18n %}
{% load my_tags %}
{% load static %}
{% block title %}
    {% trans "Отклик" %}
{% endblock title %}

{% block content %}
{% if request.user.id == adv_author %}
    <h4>{% trans "Автор" %} - <span>{{ reaction.user }}</span></h4>
    <p>{{ reaction.user }}</p>
    <p>{{ reaction.text }}</p>
    <p>{{ reaction.accepted }}</p>
    <p>{{ reaction.id }}</p>
    {% if not reaction.accepted %}
        <div style="display: flex; justify-content: right;">
            <a href="{% url 'reaction_accept' reaction_id=reaction.id %}">
                <button type="button" class="btn btn-outline-success">
                    {% trans "Принять" %}
                </button>
            </a>
        </div>
    {% else %}
        <div style="display: flex; justify-content: right;">
            <a href="{% url 'reaction_accept' reaction_id=reaction.id %}">
                <button type="button" class="btn btn-outline-warning">
                    {% trans "Отклонить" %}
                </button>
            </a>
        </div>
    {% endif %}
{% else %}

<script type="text/javascript">
        // Время задержки перед перенаправлением в миллисекундах
        var delay = 3000; // 3 секунды
        // URL, на который будет осуществлено перенаправление
        var redirectUrl = "{% redirect 'page403' %}"; // Замените 'your_url_name' на имя вашего маршрута

        setTimeout(function() {
            window.location.href = redirectUrl;
        });
    </script>

{% endif %}

{% endblock content %}