<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .btn-test {
        transition: 0.5s;
    }
    .btn-text .btn-text-hover {
        transition: 0.5s;
    }
    .btn-text {
        opacity: 1;
    }
    .btn-text-hover {
        opacity: 0;
    }
    .btn-test:hover .btn-text {
        opacity: 0;
    }
    .btn-test:hover .btn-text-hover {
        opacity: 1;
    }
</style>
<body>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
           <ul>
               {% for field in form %}
                   {% for error in field.errors %}
                       <li>{{ error }}</li>
                   {% endfor %}
               {% endfor %}
               {% for error in form.non_field_errors %}
                   <li>{{ error }}</li>
               {% endfor %}
           </ul>
       {% endif %}
</form>

<button type="button" class="btn-test">
    <span class="btn-text">+</span>
    <span class="btn-text-hover">Create</span>
</button>

</body>
</html>