{% extends "default.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Регистрация" %}
{% endblock title %}

{% block content %}
    <h1>{%  trans "Регистрация" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
        <a href="{% url 'login' %}">{% trans "Войти" %}</a>
        <a href="{% url 'logout' %}">{% trans "Выйти" %}</a>
        <a href="{% url 'password_reset' %}">{% trans "Забыли пароль?" %}</a>
    </form>
{% endblock content %}
