{% load i18n %}

<!-- flex-fill can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-fill class -->
<div class="d-flex align-items-end bd-highlight">
    <div class="flex-fill p-2 bd-highlight">
        {% trans "Этот сайт создан в качестве учебного проекта Курбановым Арсланом. Все права пока еще не защищены, так как на этой стадии обучения не описывается такой инструмент." %}
    </div>
    <div class="flex-fill p-2 bd-highlight">
        {% trans "Возможно, в этом месте будет находиться соответствующая информация." %}
    </div>
    <div class="flex-fill p-2 bd-highlight">
        16.08.2024
        Skill Factory
        Курбанов Арслан А.
    </div>
</div>
